@use "sass:math";

@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/reset.css/reset';
@import 'node_modules/slick-carousel/slick/slick';
@import 'node_modules/lenis/dist/lenis';
/* @import 'node_modules/swiper/swiper-bundle.min'; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import '_fonts';

/**********************
    **********************
        VARIABLES
    **********************
**********************/
$black: oklch(0% 0 0);
$white: oklch(100% 0 0);


$bg_dark: oklch(97.41% 0.003 67.78);

$title: oklch(20.56% 0.031 253.3);
$text: oklch(54.52% 0 0);
$section_top: oklch(31.47% 0.02 257.27);

$main: oklch(17.76% 0 0);

$border_section_bg: oklch(94.88% 0.011 71.9);

$font_Cs: 'Clear Sans';
$font_Gl: 'Graphik LCG', sans-serif;

$global_font_size: 16;



/**********************
    **********************
        FUNCTIONS
    **********************
**********************/
/* Put the value in pixels */
@function pxrem($value) {
    @return calc($value / $global_font_size)+rem;
}

/**********************
    **********************
        MIXINS
    **********************
**********************/
@mixin fontSs($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Cs;
    font-size: pxrem($font_size);
    font-weight: $font_weight;
    line-height: pxrem($line_height);
    color: $font_color;
}

@mixin fontGl($font_size, $font_weight, $line_height, $font_color) {
    font-family: $font_Gl;
    font-size: pxrem($font_size);
    font-weight: $font_weight;
    line-height: pxrem($line_height);
    color: $font_color;
}


@mixin pseudo($url, $width, $height) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: contain;
    background-repeat: no-repeat;
    width: pxrem($width);
    height: pxrem($height);
}

@mixin pseudoItem($width, $height, $bgc) {
    content: '';
    position: absolute;
    width: pxrem($width);
    height: pxrem($height);
    background: $bgc;
}

/**********************
    **********************
        TEMPLATES
    **********************
**********************/
.title {
    @extend %title;
}

/* Titles */
%title {
    @include fontGl(36, 900, 46.8, $main);
    padding: 5.25rem 0 3.125rem 0;
    text-transform: uppercase;
}

%slick-dots {
    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -6.4rem;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 0.625rem;

        button {
            color: transparent;
            width: 2px;
            height: 2px;
            background: #CFCFCF;
        }

        .slick-active button {
            width: 32px;
            background: #111111;
        }
    }
}

/**********************
    **********************
        GLOBAl STYLES
    **********************
**********************/
html {
    overflow-x: hidden;
    font-size: $global_font_size + px;
    background: #000;

    &.open {
        overflow: hidden;
    }
}

body {
    @include fontGl(16, 400, 30, $main);
    background: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*  background: $black; */
}

a {
    text-decoration: none;
    color: $white;
}

p {
    @include fontGl(17, 400, 26, $text);
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

strong {
    @include fontGl(17, 600, 26, $title);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.row {
    row-gap: 1rem;
}

.section__header {}

.burger__btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3125rem;
    width: 1.875rem;
    height: 1.4375rem;
    cursor: pointer;

    & span {
        display: block;
        width: 100%;
        height: 0.1875rem;
        background: $white;
        border-radius: 30px;

        &:nth-child(1) {
            width: 70%;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:nth-child(3) {
            width: 50%;
        }
    }
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: 1s all;

    &.show {
        transform: translate(0);
        opacity: 1;
        filter: blur(0px);
    }
}


.accardion-content {
    overflow: hidden;
    transition: .4s all;

    display: grid;
    grid-template-rows: 0fr;

    &>&-inner {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;

        padding-left: 1.4375rem;
        padding-right: 5.5625rem;

        transition: .4s all;
    }
}

.accardion-active+.accardion-content {
    transition: .4s all;

    grid-template-rows: 1fr;
}

.accardion-btn {
    position: relative;

    &::after {
        @include pseudo(url('../images/arrow.svg'), 12, 20);
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);

        transition: .4s all;

    }

    &.accardion-active {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        transition: .1s all;

        &::after {
            transform: translateY(-50%) rotate(90deg);
        }

        &+.accardion-content>.accardion-content-inner {
            visibility: visible;
            padding-bottom: 1.1875rem;
            opacity: 1;
        }
    }
}

.close__btn {
    display: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
    filter: brightness(100);
}

.page__list {
    @include fontGl(16, 400, 150%, $main);
}



.footer {
    margin-top: auto;
    padding-top: 3.125rem;
}

/**********************
    **********************
       MENU
    **********************
**********************/
.header {
    background-image: url('../images/header-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.nav {

    /* Nav top */
    &__top {
        background: rgba(17, 17, 17, 0.5);
        text-align: center;
        padding: 0.4375rem;

        &-link {
            @include fontGl(12, 600, 30, $white);
            padding-top: 0.25rem;
            padding-left: 1.25rem;
            text-transform: uppercase;
            position: relative;

            &::before {
                @include pseudo(url('../images/header-top-location.svg'), 12.8, 12.8);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    /* Nav inner */
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 0;

        &-items {
            display: flex;
            gap: 5.125rem;
        }
    }

    &__location {
        /* @include fontGl(12, 400, 30, $white); */
        font-weight: 400;
        font-size: 0.75rem;
        overflow: hidden;


        padding-left: 1.25rem;

        position: relative;

        &::before {
            @include pseudo(url('../images/location.svg'), 13.6, 15.6);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            @include pseudoItem(0, 0, none);
            width: 100%;

            left: 0;
            bottom: 0.39375rem;
            border-bottom: 0.0625rem dashed $white;
            margin-left: 1.25rem;
        }
    }

    &__phone {
        font-weight: 600;
        letter-spacing: 0px;

        padding-left: 1.45rem;

        position: relative;

        &::before {
            @include pseudo(url('../images/phone.svg'), 17.2, 17.2);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.menu {
    background: oklch(17.76% 0 0 / 40%);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Menu list */
    &__list {
        display: flex;

        &-item {
            display: flex;
            align-items: center;
        }

        &-link {
            padding: 0.9375rem 1.125rem 0.9375rem 1.375rem;

            &.active {
                background: $white;
                color: $main;
                padding-left: 3.4375rem;

                position: relative;

                &::before {
                    @include pseudo(url('../images/menu-iocn.svg'), 19.2, 12.2);
                    left: 16%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.active:hover {
                background: $white;
            }

            &:hover {
                background: rgb(17, 17, 17);
            }
        }
    }

    &__search {
        margin-left: 1.25rem;
        display: flex;
        align-items: center;
    }

    &__btns {
        display: flex;
        gap: 1.25rem;
    }

    &__btn {
        display: flex;
        gap: 0.375rem;

        img {
            object-fit: contain;
            width: 1.875rem;
            height: 1.5625rem;
        }
    }
}

/**********************
    **********************
       INDEX.html
    **********************
**********************/

/**********************
       HERO
**********************/
.hero {
    background: $bg_dark;

    &__wrapper {
        padding-top: 3.375rem;
    }

    &__slider {
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
        }

        &-item__img {
            margin-bottom: -8rem;
            overflow: hidden;
        }

        &-item__inner {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }

    &__title {
        @include fontGl(42, 900, 54.6, $main);
        max-width: 26.6875rem;
        text-transform: none;
        padding: 0;
    }

    &__descr {
        @include fontGl(16, 400, 30, $main);
        max-width: 15.4375rem;
    }

    &__more {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        @include fontGl(16, 500, 30, $main);
        padding: 0.55rem 1.5rem 0.425rem 1.5rem;
        border: 2px solid $main;
        text-transform: uppercase;
    }

    &__price {
        @include fontGl(18, 600, 30, $main);
    }
}

/**********************
       FEATURES
**********************/
.features {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 5.625rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        &:last-child .features__descr {
            max-width: 16.875rem;
        }
    }

    &__descr {
        @include fontGl(16, 400, 30, $main);
        max-width: 6.5625rem;
    }
}

/**********************
       CATALOG
**********************/
.catalog {
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 0;

        transition: .4s all;

        &:hover {
            transform: scale(1.03);
            transition: .4s all;
        }

        &::before {
            @include pseudoItem(0, 0, $black);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: .9;
        }

        &-title {
            position: absolute;
            @include fontGl(16, 900, 30, $white);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            z-index: 1;
        }

        &-img {
            height: 100%;
            filter: brightness(1);
        }

        &-img__next {
            position: absolute;
            width: 85%;
        }

    }
}


/**********************
       PRODUCTS
**********************/
.products {
    padding-bottom: pxrem(95);

    &__img {
        display: flex;
        align-items: center;
        border: 1px solid $black;
        position: relative;
        padding: pxrem(30);
        height: pxrem(270);
    }

    .status {
        @include fontGl(12, 400, 30, $main);
        padding-left: 1.25rem;

        position: absolute;
        bottom: 0;
        left: 1.25rem;
        bottom: pxrem(4.2);

        &::before {
            @include pseudo(url('../images/check-mark.svg'), 9, 6);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__option {
        display: none;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-item {
            display: flex !important;
            flex-direction: column;
            gap: 0.875rem;
        }

        .slick-slide {
            margin: 0 1.875rem;

            div {
                /* margin: 0 1.875rem; */
            }
        }

        &-item__title {
            @include fontGl(14, 700, 25.2, $main);
        }

        &-item__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item__inner {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &-item__inner-border {
            position: relative;
            gap: 2.125rem;
        }

        &-item__inner-border::before {
            @include pseudoItem(0, 0, $main);
            opacity: .1;
            height: 1.0625rem;
            width: 1px;
            left: 57%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &-item__btn {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            &.shipping {
                width: 2.5rem;
                height: 2.5rem;
                background: rgb(242, 242, 242);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-item__btn img {
            filter: brightness(0);
            width: 1.3rem;
        }

        &-item__numbers {
            @include fontGl(10, 400, 30, $main);
        }


        @extend %slick-dots;
    }

    &__slider-attr {
        display: flex;
        justify-content: space-between;
        margin-top: 3.5rem;

        .arrow__prev {
            transform: rotate(-180deg)
        }
    }

    &__price {
        @include fontGl(16, 600, 30, $main);
    }
}


/**********************
       DELIVERY
**********************/
.delivery {
    position: relative;
    z-index: 0;

    padding-bottom: 6.25rem;

    &::before {
        @include pseudo(url('../images/delivery-bg.jpg'), 0, 0);
        width: 100%;
        height: 100%;
        z-index: -1;

        background-size: cover;
    }

    &::after {
        @include pseudoItem(0, 0, $black);

        width: 100%;
        height: 100%;
        z-index: -1;

        top: 0;
        left: 0;

        opacity: .2;
    }

    &__title {
        @include fontGl(36, 900, 0, $white);
        line-height: 130%;
        padding-top: 0;
    }

    &__wrapper {
        padding-top: 5.25rem;
        display: flex;
        justify-content: space-between;
    }

    &__inner {
        /* display: flex; */
    }

    &__info-list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        max-width: pxrem(815);
        width: 100%;

        list-style-type: square;

        &__item {
            @include fontGl(16, 300, 0, $white);
            line-height: 150%;
        }
    }

    &__info-box {
        padding: 1.875rem;
        border: 1px solid $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: pxrem(315);
        width: 100%;

        gap: pxrem(10);

        &__text {
            @include fontGl(16, 600, 0, $white);
            line-height: 150%;

            &:last-child {
                @include fontGl(16, 400, 0, $white);
                line-height: 150%;
            }
        }
    }
}

/**********************
       FAQ
**********************/
.faq {
    background: $bg_dark;
    padding-top: pxrem(99);
    padding-bottom: pxrem(82);

    &__wrapper {
        row-gap: pxrem(70);
    }

    &__item {
        display: flex;
        height: 100%;
        border-bottom: 1px solid $black;
        margin-right: pxrem(30);

        padding-bottom: pxrem(16);

        position: relative;

        &::after {
            @include pseudo(url('../images/arrow.svg'), 10, 10);

            bottom: pxrem(-6);
            right: pxrem(-30);
        }

        &-title {
            @include fontGl(16, 600, 0, $title);
            line-height: 150%;
        }
    }
}

/**********************
       SERVICES
**********************/
.services {
    padding-bottom: pxrem(117);

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: pxrem(50);
    }

    &__text {
        @include fontGl(16, 400, 0, $main);
        line-height: 150%;

    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {
        .squares {
            display: flex;
            gap: pxrem(3);
            margin-bottom: pxrem(18);
            height: pxrem(20);
            align-items: flex-end;
        }

        .square {
            width: pxrem(8);
            height: pxrem(8);
            background-color: $main;
        }

        &__title {
            @include fontGl(18, 600, 0, $main);
            line-height: 150%;
            text-transform: uppercase;
        }

        &__descr {
            @include fontGl(16, 400, 0, $main);
            line-height: 150%;
        }
    }

    &__list-item:nth-child(3) {
        .squares {
            display: grid;
            grid-template-columns: repeat(4, pxrem(8));
        }

        .square:nth-child(3) {
            grid-row: 2;
        }

        .square:nth-child(2) {
            grid-row: 2;
        }
    }

    &__list-item:nth-child(4) {
        .squares {
            display: grid;
            grid-template-columns: repeat(2, pxrem(8));
        }
    }

    &__list-item:nth-child(5) {
        .squares {
            display: grid;
            grid-template-columns: repeat(6, pxrem(8));
        }

        .square:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }

        .square:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }

        .square:last-child {
            grid-column: 3;
            grid-row: 1 / 2 span;
            height: 100%;
        }
    }
}

/**********************
       TEAM
**********************/
.team {
    background: url('../images/team-bg.jpg'), oklch(11.67% 0.027 240.96);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right pxrem(-296);

    padding-top: pxrem(90);
    padding-bottom: pxrem(100);

    @extend %slick-dots;

    .slick-dots {
        display: flex;
        /* flex-direction: column; */
        gap: pxrem(8);

        transform: unset;

        inset: unset;
        right: pxrem(-72);
        top: pxrem(80);
        transform: rotate(90deg);

        li button {
            background: rgba($color: #fff, $alpha: 0.3);
        }


        .slick-active button {
            display: block;
            background: $white;
            width: pxrem(32);
            height: pxrem(2s);
            outline: none;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: pxrem(40);
    }

    &__title {
        color: $white;
    }

    &__text {
        @include fontGl(16, 400, 0, $white);
        line-height: 150%;
        max-width: pxrem(542);
        width: 100%;
    }

    &__slider {
        max-width: pxrem(370);
        width: 100%;

        &-item {
            display: flex !important;
            justify-content: space-between;
            padding: pxrem(16) 0;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
        }

        &-item__title {
            @include fontGl(16, 600, 0, $white);
            line-height: 150%;
        }

        &-item__position {
            @include fontGl(12, 400, 0, $white);
            line-height: 150%;
        }
    }

    &__btn {
        @include fontGl(16, 500, 0, $white);
        line-height: 150%;
        text-transform: uppercase;

        margin-right: auto;
        padding: pxrem(12) pxrem(24);
        border: 1px solid $white;
    }
}

/**********************
       ABOUT
**********************/
.about {
    padding-top: pxrem(84);
    padding-bottom: pxrem(100);

    .title {
        padding-top: 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__inner {
        flex: 0 50%;
    }

    &__inner {
        flex: 0 50%;
    }

    &__img {
        flex: 0 50%;
        max-width: pxrem(470);
        width: 100pc;
        height: pxrem(324);

        position: relative;
        z-index: 0;

        &::before {
            @include pseudoItem(0, 0, oklch(90.67% 0 0));
            width: 100%;
            height: 94.4%;
            left: pxrem(-10);
            top: pxrem(10);
            z-index: -1;
        }

        &::after {
            @include pseudoItem(0, 0, oklch(97.31% 0 0));
            width: 100%;
            height: 89.2%;
            left: pxrem(-20);
            top: pxrem(20);
            z-index: -2;
        }

        img {
            height: 100%;
        }
    }
}

/**********************
       FOOTER
**********************/
.footer {
    padding-top: pxrem(90);
    background: $bg_dark;

    a {
        @include fontGl(16, 400, 0, $main);
        line-height: 150%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: pxrem(50);
        border-bottom: 2px solid rgba($color: #111111, $alpha: .1);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: pxrem(20);

        &-title {
            @include fontGl(18, 600, 0, $main);
            line-height: 150%;
        }

        &-item {}

        &-link.logo {
            filter: brightness(0);
        }

        &-link {
            transition: color .4s;
            position: relative;
        }

        &-link:hover {
            color: oklch(59.65% 0 0);
            transition: color .4s;
        }

        &-link.icon {
            padding-left: pxrem(24.11);
        }

        &-link.phone::before {
            @include pseudo(url('../images/phone.svg'), 13.11, 13.13);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            filter: brightness(0);
        }

        &-link.email::before {
            @include pseudo(url('../images/at.svg'), 15, 15);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            filter: brightness(0);
        }

        &-link.whatsapp::before {
            @include pseudo(url('../images/whatsapp.svg'), 15, 15);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            filter: brightness(0);
        }

        &-link.vk::before {
            @include pseudo(url('../images/vk.svg'), 17, 14);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }


    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: pxrem(50);
        padding-bottom: pxrem(95);

        &-text {
            @include fontGl(12, 400, 0, $main);
            line-height: 150%;
        }

        .copyright {
            @include fontGl(12, 400, 0, $main);
            line-height: 150%;
            color: rgba($color: rgb(17, 17, 17), $alpha: 0.4);

            max-width: pxrem(800);
            width: 100%;
        }
    }
}

/**********************
    **********************
       MEDIA QUERIES
    **********************
**********************/

@media (max-width: 1604px) {
    html {
        font-size: $global_font_size - 1 + px;
    }
}

@media (max-width: 1527px) {
    html {
        font-size: $global_font_size - 2 + px;
    }
}

@media (max-width: 1480px) {
    html {
        font-size: $global_font_size - 3 + px;
    }
}