<footer class="footer">
    <div class="container">
        <div class="footer__content">

            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="footer__list-link logo" href="#">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link phone icon" href="tel:89998887766">
                        8 (999) 888-77-66
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link email icon" href="mailto:Hello@iamlp.ru">
                        Hello@iamlp.ru
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link whatsapp icon" href="tel:89998887766">
                        whatsapp
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link vk icon" href="tel:89998887766">
                        Вконтакте
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <h5 class="footer__list-title">
                    Продукция
                </h5>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Каталог
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Цифровые пианино
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Синтезаторы
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Акустические пианино
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Аксессуары
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <h5 class="footer__list-title">
                    Как мы работаем
                </h5>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Доставка
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Оплата
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Гарантии
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Правила возврата и замены
                    </a>
                </li>
            </ul>

            <ul class="footer__list">
                <h5 class="footer__list-title">
                    Прочее
                </h5>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Акции
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        О нас
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="footer__list-link" href="#">
                        Услуги
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__bottom">
            <p class="footer__bottom-text">
                Политика конфиценциальности <br>
                Реквизиты
            </p>

            <p class="copyright">
                Любое использование материалов с сайта запрещено без письменного разрешения администрации сайта.
                Указанные на сайте цены не являются публичной офертой могут быть изменены в любое время. © ООО
                «Лав-Пиано» 2022 - бесконечность. Все права защищены.
            </p>
        </div>
    </div>
</footer>

<script src="js/main.min.js" type="module"></script>
</body>

</html>