<!--=include header.html -->

<main class="main">

    <!--******* HERO *******-->
    <section class="hero">
        <div class="container">
            <div class="hero__wrapper">
                <div class="hero__slider">
                    <div class="hero__slider-item">
                        <div class="hero__slider-item__inner">
                            <h1 class="hero__title title">
                                Цифровое пианино Roland FP-30X
                            </h1>
                            <p class="hero__descr">
                                Доступно в белом цвете
                                2-сенсорная клавиатура
                            </p>
                            <div class="hero__more">
                                <a class="hero__link" href="#">
                                    Подробнее
                                </a>
                                <span class="hero__price">
                                    87 990 ₽
                                </span>
                            </div>
                        </div>

                        <div class="hero__slider-item-inner">
                            <div class="hero__slider-item__img">
                                <img src="images/piano.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--******* FEATURES *******-->
    <section class="features">
        <div class="container">
            <div class="features__wrapper">

                <div class="features__item">
                    <div class="features__icon">
                        <img src="images/compass.svg" alt="icon-1">
                    </div>
                    <span class="features__descr">
                        Доставка по всей РФ
                    </span>
                </div>

                <div class="features__item">
                    <div class="features__icon">
                        <img src="images/documents.svg" alt="icon-2">
                    </div>
                    <span class="features__descr">
                        Официальный дилер
                    </span>
                </div>

                <div class="features__item">
                    <div class="features__icon">
                        <img src="images/headphones.svg" alt="icon-3">
                    </div>
                    <span class="features__descr">
                        Подробная коснультация
                    </span>
                </div>

                <div class="features__item">
                    <div class="features__icon">
                        <img src="images/ok-sign.svg" alt="icon-4">
                    </div>
                    <span class="features__descr">
                        Индивидуальный подбор инструмента
                    </span>
                </div>

            </div>
        </div>
    </section>

    <!--******* CATALOG *******-->
    <section class="catalog">
        <div class="container">
            <h2 class="catalog__title title">
                Наш каталог
            </h2>
            <div class="catalog__wrapper row">
                <div class="col-md-3">
                    <a class="catalog__item" href="#">
                        <h3 class="catalog__item-title">
                            Цифровые пианино
                        </h3>
                        <img class="catalog__item-img" src="images/catalog-img-1.png" alt="catalog image 1">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="catalog__item" href="#">
                        <img class="catalog__item-img" src="images/catalog-img-2.png" alt="catalog image 2">
                        <img class="catalog__item-img__next" src="images/long-arrow.svg" alt="next">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="catalog__item" href="#">
                        <h3 class="catalog__item-title">
                            Акустические пианино
                        </h3>
                        <img class="catalog__item-img" src="images/catalog-img-3.png" alt="catalog image 3">
                    </a>
                </div>

                <div class="col-md-3">
                    <a class="catalog__item" href="#">
                        <h3 class="catalog__item-title">
                            Аксессуары
                        </h3>
                        <img class="catalog__item-img" src="images/catalog-img-4.png" alt="catalog image 4">
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!--******* PRODUCTS *******-->
    <section class="products">
        <div class="container">
            <h2 class="products__title title">
                Топ товаров
            </h2>
            <div class="products__wrapper">
                <div class="products__slider">

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>


                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="products__slider-item">
                        <a class="products__img" href="#">

                            <div class="products__option">
                                <span class="products__option-btn promotion" href="#">
                                    Акция
                                </span>
                                <span class="products__option-btn new" href="#">
                                    Новинка
                                </span>
                            </div>

                            <img src="images/product-img-1.png" alt="product image">
                            <span class="status">
                                В наличии
                            </span>
                        </a>

                        <h6 class="products__slider-item__title">
                            Цифровой рояль Yamaha CVP 809 GP чёрный полированный
                        </h6>

                        <div class="products__slider-item__box">

                            <div class="products__slider-item__inner">
                                <a class="products__slider-item__btn shipping" href="#">
                                    <img src="images/shipping.svg" alt="Shipping">
                                </a>
                                <span class="products__price">
                                    87 990 ₽
                                </span>
                            </div>

                            <div class="products__slider-item__inner products__slider-item__inner-border">
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/filters.svg" alt="Filter">
                                    <span class="products__slider-item__numbers">
                                        4
                                    </span>
                                </a>
                                <a class="products__slider-item__btn" href="#">
                                    <img src="images/favorites.svg" alt="Add to favorites">
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="products__slider-attr">
                    <button class="arrow__prev" href="#">
                        <img src="images/arrow.svg" alt="">
                    </button>

                    <button class="arrow__next" href="#">
                        <img src="images/arrow.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!--******* DELIVERY *******-->
    <section class="delivery">
        <div class="container">

            <div class="delivery__wrapper">
                <div class="delivery__inner">
                    <h2 class="delivery__title title">
                        Доставка
                    </h2>
                    <ul class="delivery__info-list">
                        <li class="delivery__info-list__item">
                            Мы доставляем наши товары по всей России, а некоторые бренды и по территории Таможенного
                            Союза.
                        </li>
                        <li class="delivery__info-list__item">
                            Если Вы находитесь в Москве или Санкт-Петербурге, возможны самовывоз по предварительному
                            согласованию или доставка на выбранный адрес.
                        </li>
                        <li class="delivery__info-list__item">
                            В другие города нам помогают доставлять транспортные компании.
                        </li>
                    </ul>
                </div>

                <div class="delivery__info-box">
                    <p class="delivery__info-box__text">
                        Зачастую, если сумма покупки больше 15 000 руб., дополнительная оплата за доставку не требуется.
                    </p>
                    <p class="delivery__info-box__text">
                        Но менеджер проговорит с Вами данный момент с учётом габаритов, веса и удаленности вашей
                        доставки.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--******* FAQ *******-->
    <section class="faq">
        <div class="container">
            <h2 class="faq__title title">
                Как работает наш магазин
            </h2>
            <div class="row faq__wrapper">

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Связь с клиентом любым удобным способом
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Профессиональная консультация
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Индивидуальный подбор инструмента
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Согласование срока и времени Доставка
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Подбор удобного способа оплаты
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Доставка вашей покупки
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Вы довольны )
                        </p>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="#" class="faq__item">
                        <p class="faq__item-title">
                            Дальнейшая консультация по возникшим вопросам
                        </p>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <h2 class="services__title title">
                Наши услуги
            </h2>
            <div class="services__wrapper">
                <p class="services__text">
                    Сент-Экзюпери когда-то очень точно подметил: «У людей уже не хватает времени что-либо узнавать. Они
                    покупают вещи готовыми в магазинах». Нам никогда не хотелось быть таким обычным магазином с готовыми
                    вещами. За каждым нашим покупателем мы закрепляем менеджера, который ответит на ваши вопросы,
                    поможет с выбором и убедится, что товар к вам доставлен, подскажет в будущем при необходимости, как
                    получить гарантийное обслуживание. В Москве и Санкт-Петербурге покупка музыкального инструмента
                    возможна с полным спектром услуг от наших специалистов.
                </p>
                <ul class="services__list">
                    <li class="services__list-item">
                        <div class="squares">
                            <div class="square"></div>
                        </div>
                        <h6 class="services__list-item__title">
                            Доставка
                        </h6>
                        <span class="services__list-item__descr">
                            до клиента
                        </span>
                    </li>

                    <li class="services__list-item">
                        <div class="squares">
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                        <h6 class="services__list-item__title">
                            Подъем
                        </h6>
                        <span class="services__list-item__descr">
                            инструмента
                        </span>
                    </li>

                    <li class="services__list-item">
                        <div class="squares">
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                        <h6 class="services__list-item__title">
                            Сборка
                        </h6>
                        <span class="services__list-item__descr">
                            инструмента
                        </span>
                    </li>

                    <li class="services__list-item">
                        <div class="squares">
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                        <h6 class="services__list-item__title">
                            Настройка
                        </h6>
                        <span class="services__list-item__descr">
                            акустических инструментов
                        </span>
                    </li>

                    <li class="services__list-item">
                        <div class="squares">
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                            <div class="square"></div>
                        </div>
                        <h6 class="services__list-item__title">
                            Постпродажная
                        </h6>
                        <span class="services__list-item__descr">
                            консультация
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--******* TEAM *******-->
    <section class="team">
        <div class="container">
            <h2 class="team__title title">
                Наша команда
            </h2>
            <div class="team__wrapper">
                <p class="team__text">
                    Часто можно слышать фразу «It’s just business» — это просто бизнес. А вот нашей команде всегда
                    казалось, что не just и не просто. Мы давно вместе, на самом деле многое пережили. Может
                    показаться, что мы принципиальнее, строже и требовательней и к клиентам, и к себе самим, чем нужно.
                    Но вместе с тем, это самый заботливый, добросердечный и ответственный коллектив, который для Вас
                    просто магазин, где вы можете купить себе не просто инструмент, но и ощутить, что Вы важны.
                </p>
                <div class="team__slider">
                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>
                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>

                    <div class="team__slider-item">
                        <h6 class="team__slider-item__title">
                            Вася Петровский
                        </h6>
                        <span class="team__slider-item__position">
                            Директор мира
                        </span>
                    </div>
                </div>


                <a class="team__btn" href="#">Познакомитсья</a>
            </div>
        </div>
    </section>

    <!--******* ABOUT *******-->
    <section class="about">
        <div class="container">

            <div class="about__wrapper">

                <div class="about__inner">
                    <h2 class="about__title title">
                        Магазин клавишных музыкальных инструментов
                    </h2>
                    <p class="about__text">
                        Компания «IamLP» осуществляет свою деятельность в сфере продажи музыкальных клавишных
                        инструментов: цифровых пианино и роялей, акустических пианино и роялей, синтезаторов, рабочих
                        станцией, сопутствующих аксессуаров.
                    </p>

                    <p class="about__text">
                        Основные бренды, которые представлены в нашем каталоге: Yamaha, Roland, Casio, Kawai и др.
                        Обратившись к нам, Вы получите качественную помощь на каждом этапе покупки от выбора до сборки.
                    </p>
                </div>

                <div class="about__img">
                    <img src="images/about-img.jpg" alt="About image">
                </div>
            </div>

        </div>
    </section>

</main>


<!--=include footer.html -->