<!--=include header.html -->

<main class="main">
    <section class="section__top">
        <div class="container">
            <div class="section__top-wrapper">
                <div>
                    <strong>Главная</strong> <span>\</span> <span>Возврат и обмен товара</span>
                </div>
                <div>
                    <h1>
                        Возврат и обмен товара
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="return">
        <div class="container">
            <div class="return__box">

                <div class="return__item">
                    <h3>
                        Технически сложный товар
                    </h3>

                    <ul class="return__list">
                        <h4>
                            Надлежащего качества
                        </h4>
                        <li>
                            <strong>
                                Дистанционный способ
                            </strong>
                            <p>
                                В течение 7 дней после покупки при сохранении товарного вида и потребительских свойств.
                            </p>
                            <p>
                                Стоимость товара возвращается в течение 10 дней после возврата товара, стоимость
                                расходов
                                на доставку и иных услуг не возвращаются.
                            </p>
                        </li>

                        <li>
                            <strong>
                                Розничная купля-продажа
                            </strong>
                            <p>
                                Обмену и возврату не подлежат.
                            </p>
                        </li>
                    </ul>

                    <div class="return__item-inner">
                        <h4>
                            Ненадлежащего качества
                        </h4>

                        <p>
                            Возврат или обмен возможны в течение 14 дней без учета дня покупки.
                            Стоимость расходов на доставку и иных услуг полностью компенсируется.
                        </p>
                    </div>
                </div>

                <div class="return__item">
                    <h3>
                        Товар, не относящийся к технически сложным
                    </h3>
                    <ul class="return__list">
                        <li>
                            <strong>
                                Дистанционный способ
                            </strong>
                            <p>
                                В течение 7 дней после покупки при сохранении товарного вида и потребительских свойств.
                            </p>
                            <p>
                                Стоимость товара возвращается в течение 10 дней после возврата товара, стоимость
                                расходов
                                на доставку и иных услуг не возвращаются.
                            </p>
                        </li>

                        <li>
                            <strong>
                                Розничная купля-продажа
                            </strong>
                            <p>
                                14 дней при сохранении товарного вида и потребительских свойств
                            </p>
                            <p>
                                Стоимость товара возвращается в течение 10 дней после возврата товара, стоимость
                                расходов на доставку и иных услуг не возвращаются.
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section class="return__banner">
        <div class="container">
            <div class="return__banner-wrapper">
                <img src="images/info.svg" alt="info icon">
                <p>
                    По общим правилам договор розничной купли-продажи считается заключенным либо в момент его
                    подписания, либо в момент фактической оплаты.
                </p>
            </div>
        </div>
    </section>

    <section class="return-formalization">
        <div class="container">
            <div class="return-formalization__wrapper">
                <h2>
                    Оформление заявки на возврат/обмен товара:
                </h2>
                <div class="return-formalization__item">
                    <span class="return-formalization__number">
                        1
                    </span>

                    <div class="return-formalization__item-inner">
                        <h4>
                            Опишите вашу ситуацию в письме
                        </h4>
                        <p>
                            Сфотографируйте дефект или запишите видео. Отправьте письмо на почту вашего менеджера или
                            общую
                            почту компании.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="return__banner">
        <div class="container">
            <div class="return__banner-wrapper">
                <img src="images/exclamation.svg" alt="info icon">
                <p>
                    Способы возврата денежных средств обсуждаются с покупателем индивидуально;
                    При возврате денег за товар надлежащего качества мы не компенсируем расходы на доставку, которые
                    были в оригинальном заказе;
                    При возврате товара ненадлежащего качества «IamLP» берёт транспортные расходы на себя.
                </p>
            </div>
        </div>
    </section>

    <section class="return-contact">
        <div class="container">
            <div class="return-contact__wrapper">
                <h3>
                    Для обмена и возврата свяжитесь с нами:
                </h3>

                <div class="return-contact__box">
                    <div class="return-contact__item">
                        <span>
                            Адрес
                        </span>
                        <a href="#">
                            Санкт-Петербург, ул. Миллионная, д.38
                        </a>
                    </div>

                    <div class="return-contact__item">
                        <span>
                            График
                        </span>
                        <div>
                            Пн-Вс
                            11.00 - 19.00 (по МСК)
                        </div>
                    </div>

                    <div class="return-contact__item">
                        <span>
                            Контактная информация
                        </span>
                        <div>
                            <a href="tel:89998887766"> 8 (999) 888-77-66 (бесплатно в Санкт-Петербурге)</a>
                            <a href="tel:89998887766"> 8 (999) 888-77-66 (бесплатно в Москве)</a>
                            <a href="tel:89998887766"> 8 (999) 888-77-66 (бесплатно по РФ)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!--=include footer.html -->